<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description" />
    <meta name="author" content="Your name" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Mark Webpage Title</title>

    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png" />

    <link rel="stylesheet" href="./styles.css" />

    <style></style>
  </head>
  <body data-spy="scroll" data-target=".fixed-top">
    <div id="about" class="basic-1 bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="text-container first">
              <h2>Hi there I'm Mark,</h2>
              <p>
                And I love to create beautiful and efficient websites for my
                customers. I love going through the entire process with the
                customer from concept, to design and then development and launch
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-container second">
              <div class="time">2019 - PRESENT</div>
              <h6>Freelance Web Developer</h6>
              <p>Working happily on my own web projects</p>
              <div class="time">2018 - 2019</div>
              <h6>Lead Web Developer</h6>
              <p>Beautiful project for a major digital agency</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-container third">
              <div class="time">2017 - 2018</div>
              <h6>Senior Web Designer</h6>
              <p>Inhouse web designer for ecommerce firm</p>
              <div class="time">2016 - 2017</div>
              <h6>Junior Web Designer</h6>
              <p>Junior web designer for small web agency</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="services" class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">Offered services</h2>
            <p class="p-heading">
              Web design and development have been my bread and butter for more
              than 5 years. During that time I've discovered that I can help
              startups and companies with the following services
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="projects" class="basic-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">Delivered projects</h2>
            <p class="p-heading">
              Listed below are some of the most representative projects I've
              worked on. They range from basic web design for presentation sites
              to advanced web development for online shops
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <div class="image-container">
                <a href="project.html">
                  <img
                    class="img-fluid"
                    src="images/project-1.jpg"
                    alt="alternative"
                  />
                </a>
              </div>
              <p>
                <strong>For:</strong> Jumbotron, <strong>Project:</strong> web
                design for their corporate websites and landing pages for
                marketing campaigns
                <a class="blue" href="project.html">details</a>
              </p>
            </div>
            <div class="text-container">
              <div class="image-container">
                <a href="project.html">
                  <img
                    class="img-fluid"
                    src="images/project-2.jpg"
                    alt="alternative"
                  />
                </a>
              </div>
              <p>
                <strong>For:</strong> Carsrepo,
                <strong>Project:</strong> designed and developed modern platform
                for purchasing second hand cars online
                <a class="blue" href="project.html">details</a>
              </p>
            </div>
            <div class="text-container">
              <div class="image-container">
                <a href="project.html">
                  <img
                    class="img-fluid"
                    src="images/project-3.jpg"
                    alt="alternative"
                  />
                </a>
              </div>
              <p>
                <strong>For:</strong> Truevideo,
                <strong>Project:</strong> created a custom video editing and
                upload web app for this awesome team
                <a class="blue" href="project.html">details</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
